.access {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

#table01 {
  width: 100%;
}
#table01 th,
#table01 td {
  width: 100%;
  padding: 12px 0;
  border: none;
  display: block;
}

#table01 th {
  padding: 5px;
  background-color: #f5f5f5;
}
.margin {
  display: none;
}

/* sp */
@media only screen and (max-width: 768px) {
  #table01 th {
    margin: 0 auto;
    padding-bottom: 0;
    margin-top: 10px;
  }
  .margin {
    display: block;
  }
}
